doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Angular Material Layout Brainstorming
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='style.css')
  body
    .site
      nav.site-nav
        header
          img(src='angular.svg')
          h1 Angular Material
        section
          ul
            li.nav-section.picker
              h2 Documentation Version
              a.toggle Latest Release (0.9.4)
            li.nav-section
              a Getting Started
            li.nav-section
              a.toggle Demos
            li.nav-section
              h2 Customization
              a.toggle CSS
              a.toggle Theming
            li.nav-section
              h2 API Reference
              a.toggle Layout
              a.toggle Services
              a.toggle Directives
      section.site-content
        header
          h2 Introduction
          nav
            button: i.fa.fa-github
            button: i.fa.fa-html5
            button: i.fa.fa-google-plus
        .content
          h3 What is Angular Material?
          p The Angular Material project is an implementation of Material Design in Angular.js. This project provides a set of reusable, well-tested, and accessible UI components based on the Material Design system.
          p Similar to the Polymer project's Paper elements collection, Angular Material is supported internally at Google by the Angular.js, Material Design UX and other product teams.
          .row
            button
              i.fa.fa-graduation-cap
              label Getting Started
            button
              i.fa.fa-play-circle
              label Demos
            button
              i.fa.fa-wrench
              label Customize
            button
              i.fa.fa-code
              label API Reference
          hr
          h3 What is Material Design?
          p Material Design is a specification for a unified system of visual, motion, and interaction design that adapts across different devices and different screen sizes.
          .row
            button
              i.fa.fa-youtube-play
              label Watch a video about Material Design
            button
              i.fa.fa-external-link
              label Learn more about Material Design