<h1>Sudoku Solver in Angular2</h1>
<p>
  Status:
  <span *ng-if="!board.complete" style="color: orangered;">Incomplete</span>
  <span *ng-if="board.complete && !board.valid" style="color: orangered;">Invalid</span>
  <span *ng-if="board.complete && board.valid" style="color: seagreen;">Complete + Valid</span>
</p>
<nav *ng-if="!board.empty">
  <label>Options:</label>
  <a href="javascript:;" (click)="board.reset()">Reset</a>
  <a *ng-if="!board.complete" href="javascript:;" (click)="board.solve(0, 0, 0, true)">Solve</a>
</nav>
<nav *ng-if="board.empty">
  <label>Fill with:</label>
  <a href="javascript:;" (click)="board.fillWithEasy()">Easy 1</a>
  <a href="javascript:;" (click)="board.fillWithDifficult(1)">Difficult 1</a>
  <a href="javascript:;" (click)="board.fillWithDifficult(2)">Difficult 2</a>
  <a href="javascript:;" (click)="board.fillWithImpossible(1)">Impossible 1</a>
  <a href="javascript:;" (click)="board.fillWithImpossible(2)">Impossible 2</a>
  <a href="javascript:;" (click)="board.fillWithString()">Custom</a>
</nav>
<br/>
<table>
  <tr *ng-for="#row of board.data.rows">
    <td *ng-for="#cell of row" [class.user]="cell.user">
          <span *ng-for="#value of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
                [class.invisible]="cell.candidates.indexOf(value) < 0 || cell.value">
            {{value}}
          </span>
      <input type="number" min="1" max="9"
             [value]="cell.value"
             (input)="board.handleValue(cell, $event)"
             (focus)="cell.focus = true"
             (blur)="cell.focus = false"/>
    </td>
  </tr>
</table>
